.App-container{
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}
.btn{
  background-color: #84c100;
  color: white;
  font-size: 18px;
  border: none;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}
.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.title{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: #555;
  border-bottom: 4px solid #85c100;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}
.title::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 25px 0 25px;
  border-color: #84c100 transparent transparent transparent;
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -25px;
}
