.numbers {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 20px;
  text-align: center;
  font-size: 60px;
  line-height: 115px;
  font-weight: 700;
  color: #d6c301;
  background-image: url('/images/ball.png');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24);
}
